<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Detail Applicant</strong>
          <button class="btn btn-sm btn-primary " style="float: right;" (click)="closeThisPage()">&nbsp;<i class="fa fa-chevron-left"></i> Back</button>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


            <div class="form-group row">
              <label class="col-md-1 col-form-label">No. KTP</label>
              <div class="col-md-3">
                <label class="col-form-label">{{person.ktp}}</label>
              </div>
              <label class="col-md-1 col-form-label" for="name">Name</label>
              <div class="col-md-6">
                <label class="col-form-label">{{person.name}}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="nik">ID Number (NIK)</label>
              <div class="col-md-2">
                <input type="text" id="nik" name="nik" class="form-control" [(ngModel)]="employee.nik" maxlength="5">
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-1 col-form-label" for="join-date">Join Date</label>
              <div class="col-md-2">
                <input class="form-control" id="join-date" type="date" name="join-date" [(ngModel)]="employee.join_date">
              </div>
              <div class="col-md-1"></div>
              <label class="col-md-1 col-form-label" for="e-probation">End Probation</label>
              <div class="col-md-2">
                <input class="form-control" id="e-probation" type="date" name="e-probation" [(ngModel)]="employee.end_probation">
              </div>
            </div>
            <hr>

            <div class="row">
              <div class=" col-md-6" >
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="cv">CV Candidate</label>
                  <div class="input-group col-md-8" *ngIf="!isAnyCv">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="input-cv" (change)="onFileSelect($event,0)">
                      <label class="custom-file-label" #labelCv for="input-cv" aria-describedby="input-cv-addon">Choose file</label>
                    </div>
                  </div>
                  <div class="input-group col-md-8" *ngIf="isAnyCv">
                    <button class="btn btn-sm btn-ghost-success" (click)="openAttachment(cvUrl)"><i class="fa fa-eye"></i> View</button>
                    &nbsp;
                    <button class="btn btn-md btn-ghost-danger " (click)="openConfirm(cfmdlg, 'cv')">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="skck">SKCK</label>
                  <div class="input-group col-md-8"  *ngIf="!isAnySkck">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="input-skck" (change)="onFileSelect($event,1)">
                      <label class="custom-file-label" #labelSkck for="input-skck" aria-describedby="input-skck-addon">Choose file</label>
                    </div>
                  </div>
                  <div class="input-group col-md-8" *ngIf="isAnySkck">
                    <button class="btn btn-sm btn-ghost-success" (click)="openAttachment(skckUrl)"><i class="fa fa-eye"></i> View</button>
                    &nbsp;
                    <button class="btn btn-md btn-ghost-danger " (click)="openConfirm(cfmdlg, 'skck')">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="agreement">Agreement Contract</label>
                  <div class="input-group col-md-8"  *ngIf="!isAnyAgreement">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="input-agreement" (change)="onFileSelect($event,2)">
                      <label class="custom-file-label" #labelAgreement for="input-agreement" aria-describedby="input-agreement-addon">Choose file</label>
                    </div>
                  </div>
                  <div class="input-group col-md-8" *ngIf="isAnyAgreement">
                    <button class="btn btn-sm btn-ghost-success" (click)="openAttachment(agreementUrl)"><i class="fa fa-eye"></i> View</button>
                    &nbsp;
                    <button class="btn btn-md btn-ghost-danger " (click)="openConfirm(cfmdlg, 'agreement')">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="assesment">Assesment</label>
                  <div class="input-group col-md-8"  *ngIf="!isAnyAssessment">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="input-assesment" (change)="onFileSelect($event,3)">
                      <label class="custom-file-label" #labelAssesment for="input-assesment" aria-describedby="input-assesment-addon">Choose file</label>
                    </div>
                  </div>
                  <div class="input-group col-md-8" *ngIf="isAnyAssessment">
                    <button class="btn btn-sm btn-ghost-success" (click)="openAttachment(assessmentUrl)"><i class="fa fa-eye"></i> View</button>
                    &nbsp;
                    <button class="btn btn-md btn-ghost-danger " (click)="openConfirm(cfmdlg, 'assesment')">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="certificate">Certificate of Employee</label>
                  <div class="input-group col-md-8"  *ngIf="!isAnyCertificate">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="input-certificate" (change)="onFileSelect($event,4)">
                      <label class="custom-file-label" #labelCertificate for="input-certificate" aria-describedby="input-certificate-addon">Choose file</label>
                    </div>
                  </div>
                  <div class="input-group col-md-8" *ngIf="isAnyCertificate">
                    <button class="btn btn-sm btn-ghost-success" (click)="openAttachment(certificateUrl)"><i class="fa fa-eye"></i> View</button>
                    &nbsp;
                    <button class="btn btn-md btn-ghost-danger " (click)="openConfirm(cfmdlg, 'certificate')">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
                  </div>
                </div>
              </div>

              <div class=" col-md-6" >
                <div class="row">
                  <div class="col-md-3">
                    <label class=" col-form-label" for="y-assesment">Yearly Assesment</label>
                  </div>
                  <div class="col-md-8">
                    <div class="row" *ngFor="let url of yearlyAssessmentUrl;let idx=index">
                      <div class="col-md-12" >
                        <button class="btn btn-sm btn-ghost-success" (click)="openAttachment(rootUrl+url)"><i class="fa fa-eye"></i> View</button>
                        &nbsp;
                        <button class="btn btn-md btn-ghost-danger " (click)="openConfirm(cfmdlg, 'yearlyassessment-'+ idx)">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
                        &nbsp;
                        {{fileName(url)}}
                      </div>
                    </div>
                    <div class=" row">
                      <div class="input-group col-md-12" *ngIf="yearlyAssessmentUrl.length < 5">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-y-assesment" (change)="onFileSelect($event,5)">
                          <label class="custom-file-label" #labelYAssesment for="input-y-assesment" aria-describedby="input-y-assesment-addon">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  &nbsp;
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <label class=" col-form-label" for="supporting">Other Supporting Doc.</label>
                  </div>
                  <div class="col-md-8">
                    <div class="row" *ngFor="let url of supportingDocUrl;let idx=index">
                      <div class="col-md-12" >
                        <button class="btn btn-sm btn-ghost-success" (click)="openAttachment(rootUrl+url)"><i class="fa fa-eye"></i> View</button>
                        &nbsp;
                        <button class="btn btn-md btn-ghost-danger " (click)="openConfirm(cfmdlg, 'supportingdoc-'+ idx)">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
                        &nbsp;
                        {{fileName(url)}}
                      </div>
                    </div>
                    <div class=" row">
                      <div class="input-group col-md-12" *ngIf="supportingDocUrl.length < 5">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-supporting" (change)="onFileSelect($event,6)">
                          <label class="custom-file-label" #labelSupporting for="input-supporting" aria-describedby="input-supporting-addon">Choose file</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class=" col-md-12" >
                <div class="row">
                  <div class="col-md-1">
                    <label class=" col-form-label" for="photo">Photo</label>
                  </div>
                  <div class="col-md-11">
                    <div class=" row">
                      <div class="input-group col-md-5" >
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-photo" (change)="fileChangeEvent($event, 0)">
                          <label class="custom-file-label" #labelFoto for="input-photo" aria-describedby="input-photo-addon">Choose file</label>
                        </div>
                      </div>
                      <div class="input-group col-md-5" >
                        <label class=" col-form-label">* minimum image size 200 x 300 px </label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6" *ngIf="croppedImage[0] === '' ">
                        <img  [src]="url_foto" [default]="url_notfound" class="img" width="18%"  />
                      </div>
                      <div class="col-md-6" style="text-align: center;">
                        <image-cropper
                          [imageChangedEvent]="imageChangedEvent[0]"
                          [maintainAspectRatio]="true"
                          [containWithinAspectRatio]="containWithinAspectRatio[0]"
                          [aspectRatio]="2 / 3"
                          [resizeToWidth]="200"
                          [cropperMinWidth]="200"
                          [onlyScaleDown]="true"
                          [roundCropper]="false"
                          [canvasRotation]="canvasRotation[0]"
                          [transform]="transform[0]"
                          [alignImage]="'center'"
                          [style.display]="showCropper[0] ? null : 'none'"
                          format="png"
                          (imageCropped)="imageCropped($event, 0)"
                          (imageLoaded)="imageLoaded(0)"
                          (cropperReady)="cropperReady($event, 0)"
                          (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>
                        <br>
                        <div *ngIf="croppedImage[0] !== '' " >
                          <button class="btn btn-info" (click)="rotateLeft(0)"><i class="fa fa-rotate-left"></i></button>
                          <button class="btn btn-primary" (click)="resetImage(0)"> Reset </button>
                          <button class="btn btn-info" (click)="rotateRight(0)"><i class="fa fa-rotate-right"></i></button>
                        </div>
                        <br>
                      </div>
                      <div class="col-md-6" style="text-align: center;" >
                        <img
                            [src]="croppedImage[0]"
                            [style.border]="croppedImage[0] ? '1px solid black' : 'none'"
                            height="60%"
                          />
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1">
                    <label class=" col-form-label" for="ktp">KTP</label>
                  </div>
                  <div class="col-md-11">
                    <div class=" row">
                      <div class="input-group col-md-5" >
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-ktp" (change)="fileChangeEvent($event, 1)">
                          <label class="custom-file-label" #labelKtp for="input-ktp" aria-describedby="input-ktp-addon">Choose image</label>
                        </div>
                      </div>
                      <div class="input-group col-md-5" >
                        <label class=" col-form-label">* minimum image size 350 x 220 px </label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6" *ngIf="croppedImage[1] === '' ">
                        <img  [src]="url_ktp" [default]="url_notfound" class="img" height="45%"  />
                      </div>
                      <div class="col-md-6" style="text-align: center;">

                          <image-cropper
                            [imageChangedEvent]="imageChangedEvent[1]"
                            [maintainAspectRatio]="true"
                            [containWithinAspectRatio]="containWithinAspectRatio[1]"
                            [aspectRatio]="16 / 10"
                            [resizeToWidth]="350"
                            [cropperMinWidth]="350"
                            [onlyScaleDown]="true"
                            [roundCropper]="false"
                            [canvasRotation]="canvasRotation[1]"
                            [transform]="transform[1]"
                            [alignImage]="'center'"
                            [style.display]="showCropper[1] ? null : 'none'"
                            format="png"
                            (imageCropped)="imageCropped($event, 1)"
                            (imageLoaded)="imageLoaded(1)"
                            (cropperReady)="cropperReady($event, 1)"
                            (loadImageFailed)="loadImageFailed()"
                          ></image-cropper>
                          <br>
                          <div *ngIf="croppedImage[1] !== '' " >
                            <button class="btn btn-info" (click)="rotateLeft(1)"><i class="fa fa-rotate-left"></i></button>
                            <button class="btn btn-primary" (click)="resetImage(1)"> Reset </button>
                            <button class="btn btn-info" (click)="rotateRight(1)"><i class="fa fa-rotate-right"></i></button>
                          </div>
                          <br>
                      </div>
                      <div class="col-md-6" style="text-align: center;" >
                        <img
                            [src]="croppedImage[1]"
                            [style.border]="croppedImage[1] ? '1px solid black' : 'none'"
                            height="60%"
                          />
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1">
                    <label class=" col-form-label" for="kk">KK</label>
                  </div>
                  <div class="col-md-11">
                    <div class=" row">
                      <div class="input-group col-md-5" >
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-kk" (change)="fileChangeEvent($event, 2)">
                          <label class="custom-file-label" #labelKk for="input-kk" aria-describedby="input-kk-addon">Choose image</label>
                        </div>
                      </div>
                      <div class="input-group col-md-5" >
                        <label class=" col-form-label">* minimum image size 1000 x 700 px </label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6" *ngIf="croppedImage[2] === '' ">
                        <img  [src]="url_kk" [default]="url_notfound" class="img" height="300px"  />
                      </div>
                      <div class="col-md-6" style="text-align: center;">

                          <image-cropper
                            [imageChangedEvent]="imageChangedEvent[2]"
                            [maintainAspectRatio]="true"
                            [containWithinAspectRatio]="containWithinAspectRatio[2]"
                            [aspectRatio]="16 / 11"
                            [resizeToWidth]="1000"
                            [cropperMinWidth]="1000"
                            [onlyScaleDown]="true"
                            [roundCropper]="false"
                            [canvasRotation]="canvasRotation[2]"
                            [transform]="transform[2]"
                            [alignImage]="'center'"
                            [style.display]="showCropper[2] ? null : 'none'"
                            format="png"
                            (imageCropped)="imageCropped($event, 2)"
                            (imageLoaded)="imageLoaded(2)"
                            (cropperReady)="cropperReady($event, 2)"
                            (loadImageFailed)="loadImageFailed()"
                          ></image-cropper>
                          <br>
                          <div *ngIf="croppedImage[2] !== '' " >
                            <button class="btn btn-info" (click)="rotateLeft(2)"><i class="fa fa-rotate-left"></i></button>
                            <button class="btn btn-primary" (click)="resetImage(2)"> Reset </button>
                            <button class="btn btn-info" (click)="rotateRight(2)"><i class="fa fa-rotate-right"></i></button>
                          </div>
                          <br>
                      </div>
                      <div class="col-md-6" style="text-align: center;" >
                        <img
                            [src]="croppedImage[2]"
                            [style.border]="croppedImage[2] ? '1px solid black' : 'none'"
                            height="300px"
                          />
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1">
                    <label class=" col-form-label" for="npwp">NPWP</label>
                  </div>
                  <div class="col-md-11">
                    <div class=" row">
                      <div class="input-group col-md-5" >
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-npwp" (change)="fileChangeEvent($event, 3)">
                          <label class="custom-file-label" #labelNpwp for="input-npwp" aria-describedby="input-npwp-addon">Choose image</label>
                        </div>
                      </div>
                      <div class="input-group col-md-5" >
                        <label class=" col-form-label">* minimum image size 350 x 220 px </label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6" *ngIf="croppedImage[3] === '' ">
                        <img  [src]="url_npwp" [default]="url_notfound" class="img" height="45%"  />
                      </div>
                      <div class="col-md-6" style="text-align: center;">

                          <image-cropper
                            [imageChangedEvent]="imageChangedEvent[3]"
                            [maintainAspectRatio]="true"
                            [containWithinAspectRatio]="containWithinAspectRatio[3]"
                            [aspectRatio]="16 / 10"
                            [resizeToWidth]="350"
                            [cropperMinWidth]="350"
                            [onlyScaleDown]="true"
                            [roundCropper]="false"
                            [canvasRotation]="canvasRotation[3]"
                            [transform]="transform[3]"
                            [alignImage]="'center'"
                            [style.display]="showCropper[3] ? null : 'none'"
                            format="png"
                            (imageCropped)="imageCropped($event, 3)"
                            (imageLoaded)="imageLoaded(3)"
                            (cropperReady)="cropperReady($event, 3)"
                            (loadImageFailed)="loadImageFailed()"
                          ></image-cropper>
                          <br>
                          <div *ngIf="croppedImage[3] !== '' " >
                            <button class="btn btn-info" (click)="rotateLeft(3)"><i class="fa fa-rotate-left"></i></button>
                            <button class="btn btn-primary" (click)="resetImage(3)"> Reset </button>
                            <button class="btn btn-info" (click)="rotateRight(3)"><i class="fa fa-rotate-right"></i></button>
                          </div>
                          <br>
                      </div>
                      <div class="col-md-6" style="text-align: center;" >
                        <img
                            [src]="croppedImage[3]"
                            [style.border]="croppedImage[3] ? '1px solid black' : 'none'"
                            height="60%"
                          />
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1">
                    <label class=" col-form-label" for="ijazah">Ijazah</label>
                  </div>
                  <div class="col-md-11">
                    <div class=" row">
                      <div class="input-group col-md-5" >
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-ijazah" (change)="fileChangeEvent($event, 4)">
                          <label class="custom-file-label" #labelIjazah for="input-ijazah" aria-describedby="input-ijazah-addon">Choose image</label>
                        </div>
                      </div>
                      <div class="input-group col-md-5" >
                        <label class=" col-form-label">  </label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6" *ngIf="croppedImage[4] === '' ">
                        <img  [src]="url_ijazah" [default]="url_notfound" class="img" height="300px"  />
                      </div>
                      <div class="col-md-6" style="text-align: center;">
                        <img
                        [src]="croppedImage[4]"
                        [style.border]="croppedImage[4] ? '1px solid black' : 'none'"
                        height="300px"
                        />
                      </div>
                      <div class="col-md-6" style="text-align: center;" >
                        <img
                            [src]="croppedImage[4]"
                            [style.border]="croppedImage[4] ? '1px solid black' : 'none'"
                            height="300px"
                          />
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-md-1">
                    <label class=" col-form-label" for="vaksin">Vaksin</label>
                  </div>
                  <div class="col-md-11">
                    <div class=" row">
                      <div class="input-group col-md-5" >
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="input-vaksin" (change)="fileChangeEvent($event, 5)">
                          <label class="custom-file-label" #labelVaksin for="input-vaksin" aria-describedby="input-vaksin-addon">Choose image</label>
                        </div>
                      </div>
                      <div class="input-group col-md-5" >
                        <label class=" col-form-label">  </label>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6" *ngIf="croppedImage[5] === '' ">
                        <img  [src]="url_vaksin" [default]="url_notfound" class="img" height="300px"  />
                      </div>
                      <div class="col-md-6" style="text-align: center;">
                        <img
                        [src]="croppedImage[5]"
                        [style.border]="croppedImage[5] ? '1px solid black' : 'none'"
                        height="300px"
                        />
                      </div>
                      <div class="col-md-6" style="text-align: center;" >
                        <img
                            [src]="croppedImage[5]"
                            [style.border]="croppedImage[5] ? '1px solid black' : 'none'"
                            height="300px"
                          />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="card-footer">
          <button *ngIf="!isLoad" type="submit" class="btn btn-sm btn-primary" (click)="submitEmployee()"><i class="cil-save"></i> Save</button>
          <button *ngIf="isLoad"  class="btn btn-sm btn-primary" type="button">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Saving on progress...
          </button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="reloadCurrentRoute()"><i class="fa fa-ban"></i> Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #cfmdlg>
  <div class="modal-body text-center">
    <p>Are you sure?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
