<div class="app-body" style="background-image: url(../../../assets/img/logo/TSH-bg.jpg); background-position: center center;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-loader" [fullScreen] = "true"></ngx-spinner>
                <form (ngSubmit)="login()" #form="ngForm">
                  <h3 style="text-align: center; font-family:Verdana, Geneva, Tahoma, sans-serif">Human Resource Platform</h3>
                  <p class="text-muted"></p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.account" name="username"  autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" (keyup)="isWrong=false"  [class.is-invalid]="isWrong" [(ngModel)]="user.password" name="password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6 ">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="option1"  [(ngModel)]="user.isStayLogged"  name="checkbox1" id="checkbox1">
                        <label class="form-check-label" for="checkbox1">Stay Logged In</label>
                      </div>
                    </div>
                    <div class="col-6"  style="text-align: right">
                      <button type="submit"  class="btn btn-primary px-4" [disabled]="!form.valid">Login</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-9" style="color: rgb(179, 14, 14);" *ngIf="isWrong == true">
                      Wrong username or password!
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
