<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <h5>2.1 Applicant  </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 mb-12">
              <!-- Nav tabs -->
              <tabset [justified]="true" >
                <tab heading="Main">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="no-ktp" style="text-align: right;"><b>ID No</b></label>
                      <div class="col-md-4">
                        <input type="text" id="no-ktp" name="no-ktp" class="form-control" [(ngModel)]="searchModel.id_no" (keyup)=" check()" placeholder="No KTP">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="name" style="text-align: right;"><b>Name</b></label>
                      <div class="col-md-4">
                        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="searchModel.name" (keyup)=" check()">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="no_hp" style="text-align: right;"><b>Telephone (HP)</b></label>
                      <div class="col-md-4">
                        <input type="text" id="no_hp" name="no_hp" class="form-control" [(ngModel)]="searchModel.tel_hp" (keyup)=" check()">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="apldate" style="text-align: right;"><b>Apply Date</b></label>
                      <div class="col-md-4">
                        <div class="input-group input-daterange">
                          <input class="form-control" id="apldate-s" type="date" name="apldate-s" [(ngModel)]="searchModel.applyDate_from" (change)=" check()">
                          <span class="input-group-addon">&nbsp; to &nbsp;</span>
                          <input class="form-control" id="apldate-e" type="date" name="apldate-e" [(ngModel)]="searchModel.applyDate_to" (change)=" check()">
                        </div>
                      </div>
                    </div>

                  </form>
                </tab>
                <tab heading="Data">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="gender" style="text-align: right;"><b>Gender</b></label>
                      <div class="col-md-4">
                        <select id="gender" name="gender" class="form-control" [(ngModel)]="searchModel.gender" (change)=" check()">
                          <option value="">Please select</option>
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="marital" style="text-align: right;"><b>Marital Status</b></label>
                      <div class="col-md-4">
                        <select id="marital" name="marital" class="form-control" [(ngModel)]="searchModel.marital" (change)=" check()">
                          <option value="">Please select</option>
                          <option value="1">Single</option>
                          <option value="2">Married</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </tab>
                <tab heading="Education">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="edu" style="text-align: right;"><b>Education Background</b></label>
                      <div class="col-md-4">
                        <select id="edu" name="edu" class="form-control" [(ngModel)]="searchModel.education" (change)=" check()">
                          <option value="">Please select</option>
                          <option value="1">University</option>
                          <option value="2">Senior High School</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </tab>
                <tab heading="Working Experience">
                  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group row">
                      <label class="col-md-4 col-form-label" for="wex" style="text-align: right;"><b>Working Experience</b></label>
                      <div class="col-md-4">
                        <select id="wex" name="wex" class="form-control" [(ngModel)]="searchModel.experience" (change)=" check()">
                          <option value="">Please select</option>
                          <option value="1">< 1</option>
                          <option value="2">1 - 5</option>
                          <option value="3">5 - 10</option>
                          <option value="4">> 10</option>
                        </select>
                      </div>
                    </div>
                  </form>
                </tab>
              </tabset>
            </div><!--/.col-->
          </div>
          <hr>
          <div>
            <tag-input
              [theme]="'bootstrap'"
              [(ngModel)]="srcChip"
              [maxItems]="0"
              (onRemove)="onRemove($event)"
              placeholder=""
            >
            </tag-input>
          </div>
          <br>
          <div class="row align-items-center">
            <div class="col-sm-5">
              &nbsp;
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-block btn-primary" (click)="search()">Search</button>
            </div>
          </div>
          <hr>
          <div style="overflow:auto;" >
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="width: 100%;">
              <thead>
                <tr>
                  <th style="width: 40px;">No. </th>
                  <th style="width: 200px;">ID No.</th>
                  <th >Name</th>
                  <th  style="width: 15%;">Telp. No.</th>
                  <th style="width: 13%;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of applicantList;let indexOfelement=index">
                  <td>{{ indexOfelement+1 }}</td>
                  <td>{{ person.ktp }}</td>
                  <td>{{ person.name }}</td>
                  <td>{{ person.tel_hp }}</td>
                  <td>
                    <div class="btn-group" dropdown>
                      <button dropdownToggle type="button" class="btn btn-ghost-primary dropdownToggle" tooltip="Option">
                        <i class="icon-options"></i><span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" href="#">Download CV</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Download KTP</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Download KK</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Download Photo</a>
                        </li>
                      </ul>
                    </div>
                    <button type="button" class="btn btn-ghost-primary" tooltip="Edit" (click)="openModal(templatew, person.id)"><i class="icon-note"></i></button>
                    <button type="button" class="btn btn-ghost-primary" tooltip="View CV" (click)="openPDF(person.id)"><i class="icon-doc"></i></button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="applicantList?.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="applicantList?.length != 0">
            <div class="col text-center">
              <button type="button" class="btn  btn-success" (click)="exportExcel()">Download Excel</button>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>

<ng-template #templatew>
  <div class="modal-header">
    <h5 class="modal-title pull-left">{{person.name}}</h5>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalOption(2, cfm)">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="ktp">ID No</label>
        <input type="text" [(ngModel)]="person.ktp" class="form-control" id="ktp" disabled>
      </div>
      <div class="form-group col-sm-8">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="person.name" class="form-control" id="name">
      </div>
    </div><!--/.row-->
    <div class="row">
      <div class="form-group col-sm-4">
        <label for="nik">NIK</label>
        <input type="text" class="form-control" id="nik">
      </div>
      <div class="form-group col-sm-4">
        <label for="tmb">TMB</label>
        <input type="date" class="form-control" id="tmb">
      </div>
      <div class="form-group col-sm-4">
        <label for="probation">End Probation</label>
        <input type="date" class="form-control" id="probation">
      </div>
    </div><!--/.row-->
    <hr>
    <div class="row">
      <label class="col-md-3 col-form-label" for="agrmn">Agreement Contract</label>
      <div class="col-md-9">
        <input type="file" id="agrmn" name="agrmn">
      </div>
    </div><!--/.row-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalOption(2, cfm)">Close</button>
    <button type="button" class="btn btn-primary" (click)="modalOption(3)">Save changes</button>
  </div>
</ng-template>

<ng-template #cfm>
  <div class="modal-header">
    <h4 class="modal-title">Are you sure?</h4>
    <button type="button" class="close" (click)="modalOption(1)" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>All changes made will not be saved&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="modalOption(0)">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="modalOption(1)">No</button>
  </div>
</ng-template>
